@model BordspelWebApp.ViewModels.Details.DetailsBordspelViewModel;
@{
    ViewData["Title"] = Model.Naam;
}

<div class="container">
    <h3 class="display-4">@ViewData["Title"] (@Model.Jaar)</h3>
       
    <p class="lead">@Model.Beschrijving</p>
    <hr class="my-4">
    <div class="row">
        <div class="col m-1">
            <ul class="list-group">
                @if (Model.MinAantalSpelers == null || Model.MaxAantalSpelers == null)
                {
                    <li class="list-group-item bodyBG">@Model.MinAantalSpelers @Model.MaxAantalSpelers spelers</li>
                }  
                else
                {
                     @if (@Model.MinAantalSpelers == @Model.MaxAantalSpelers)
                    {
                        <li class="list-group-item bodyBG">@Model.MinAantalSpelers spelers</li>
                    }
                    else
                    {
                        <li class="list-group-item bodyBG">@Model.MinAantalSpelers tot @Model.MaxAantalSpelers spelers</li>
                    }
                }
                @if (Model.MinSpeeltijd == null && Model.MaxSpeeltijd == null)
                {
                    <li class="list-group-item bodyBG">@Model.MinSpeeltijd @Model.MaxSpeeltijd minuten</li>
                }
                else
                {
                    @if (@Model.MinSpeeltijd == @Model.MaxSpeeltijd)
                    {
                        <li class="list-group-item bodyBG">@Model.MinSpeeltijd minuten</li>
                    }
                    else
                    {
                        <li class="list-group-item bodyBG">@Model.MinSpeeltijd tot @Model.MaxSpeeltijd minuten</li>
                    }
                }
                @if (Model.Leeftijd != null)
                {
                    <li class="list-group-item bodyBG">vanaf @Model.Leeftijd jaar</li>
                }                

                @foreach (var bordspelPersoon in Model.BordspelPersonen)
                {
                    <li class="list-group-item bodyBG"><i>@bordspelPersoon.Rol.Beschrijving :</i> @bordspelPersoon.Persoon.Naam @bordspelPersoon.Persoon.Voornaam</li>
                }
                @foreach (var uitgave in Model.Uitgaves)
                {
                    <li class="list-group-item bodyBG"><i>Uitgeverij :</i> @uitgave.Uitgeverij.Naam</li>
                }
            </ul> 
        </div>
        <div class="col m-1" style="display:flex; justify-content:center">
            <img src="~/images/@Model.Afbeelding" class="card-img-top" alt="@Model.Afbeelding" style="height: 18rem; width: auto;">
        </div>
    </div>
    <button class="btn btn-outline-info" type="submit" onclick="location.href='@Url.Action("Index","Home")'">Terug</button>
</div>