@model BordspelWebApp.ViewModels.Lists.ListBordspelViewModel

@{
    ViewData["Title"] = "Bordspellen";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="display-4">@ViewData["Title"]</h3>
        </div>
        <div class="col mt-1 align-self-center" style="display:flex; justify-content:end">
            <form asp-controller="Home" asp-action="Search" method="get">
                <div class="form-actions no-color">
                    <p>
                        <input asp-for="SpelZoeken" placeholder="Spel zoeken">
                        <input type="submit" value="Zoeken" class="btn btn-outline-info" /> </br>
                        <a asp-controller="Home" asp-action="Index" class="bodyBG">Terug naar volledige lijst</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tbody>
            @foreach (var bordspel in Model.Bordspellen)
            {
                <tr>
                    <td class="col-md-2 align-middle">
                        <img src="~/images/@bordspel.Afbeelding" class="card-img-top" alt="@bordspel.Afbeelding" style="height: 50px; width: auto;">
                    </td>
                    <td class="col-md-6 align-middle bodyTekstkleur">
                        @Html.DisplayFor(modelItem => bordspel.Naam)
                    </td>
                    <td class="col-md-4 align-middle">
                        <a style="color: midnightblue" asp-action="DetailsBordspel" asp-route-id="@bordspel.Id">Details</a>
                        @if (this.User.Identity.IsAuthenticated)
                        {      
                            <br />
                                <a asp-controller="Collectie" asp-action="Create" asp-route-id="@bordspel.Id" style="color:midnightblue">In collectie zetten</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
