@model BordspelWebApp.ViewModels.Update.UpdateUitgaveViewModel

@{
    ViewData["Title"] = "Pas uitgave aan";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="display-4">@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Edit" class="needs-validation" novalidate>
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="BordspelId" class="control-label">Bordspel</label><br />
                            <select asp-for="BordspelId" class="form-select" aria-label="Default select">
                                @foreach (var bordspel in Model.Bordspellen)
                                {
                                    <option value="@bordspel.Id">@Html.DisplayFor(modelItem => bordspel.Naam)</option>
                                }
                            </select>
                            <span asp-validation-for="UitgeverijId" class="text-danger" style="font-size:small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="UitgeverijId" class="control-label">Uitgeverij</label><br />
                            <select asp-for="UitgeverijId" class="form-select" aria-label="Default select">
                                @foreach (var uitgeverij in Model.Uitgeverijen)
                                {
                                    <option value="@uitgeverij.Id">@Html.DisplayFor(modelItem => uitgeverij.Naam)</option>
                                }
                            </select>
                            <span asp-validation-for="UitgeverijId" class="text-danger" style="font-size:small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Taal" class="control-label"></label>
                            <input asp-for="Taal" class="form-control" />
                            <span asp-validation-for="Taal" class="text-danger" style="font-size:small"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-1">
                    <input type="submit" value="Aanmaken" class="btn btn-outline-info" />
                </div>
            </form>

        </div>
    </div>
    <div>
        <a asp-action="Uitgaves" class="bodyBG">Terug naar de lijst</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
