@model BordspelWebApp.ViewModels.Lists.ListBordspelPersoonViewModel

@{
    ViewData["Title"] = "BordspelPersonenBeheer";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="display-4">@ViewData["Title"]</h3>
        </div>
        <div class="col-6 align-self-center" style="display:flex; justify-content:end">
            <a asp-controller="AdminBordspelPersoon" asp-action="CreateBordspelPersoon" class="bodyBG">Maak nieuwe BordspelPersoon aan</a>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (var bordspelPersoon in Model.BordspelPersonen)
                {
                    <tr>
                        <td class="col-md-3 align-middle">
                            @Html.DisplayFor(modelItem => bordspelPersoon.Bordspel.Naam)
                        </td>
                        <td class="col-md-3 align-middle">
                            @Html.DisplayFor(modelItem => bordspelPersoon.Persoon.Naam) @Html.DisplayFor(modelItem => bordspelPersoon.Persoon.Voornaam)
                        </td>
                        <td class="col-md-2 align-middle">
                            @Html.DisplayFor(modelItem => bordspelPersoon.Rol.Beschrijving)
                        </td>
                        <td class="col-md-2 align-middle">
                            <a asp-action="EditBordspelPersoon" asp-route-id="@bordspelPersoon.Id">Aanpassen</a>
                        </td>
                        <td class="col-md-2 align-middle">
                            <a asp-action="DeleteBordspelPersoon" asp-route-id="@bordspelPersoon.Id">Verwijderen</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
